* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  outline: none;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  content: '';
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}
#main #title {
  font-size: 30px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}
#main #help {
  height: 50px;
  vertical-align: middle;
  margin-left: 20px;
}
#main #help li {
  float: left;
  margin-right: 10px;
  height: 20px;
  line-height: 20px;
}
#main #help li span {
  float: left;
  font-size: 12px;
  display: block;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
}
#main #help li .box {
  float: left;
  display: block;
  border: 1px dashed #000;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
}
#main #help li #unkua {
  background-color: #ddd;
}
#main #help li #pkua {
  background-color: #a7c7f0;
}
#main #help li #ikua {
  background-color: #f0caa7;
}
#main #help li #bkua {
  background-color: #adf0a7;
}
#main #content {
  width: 982px;
  float: left;
  border-right: 1px solid #ccc;
}
#main #content #person li {
  text-align: center;
  width: 100px;
  height: 40px;
  line-height: 40px;
  float: left;
  margin: 0 20px 20px;
  border: 1px solid #000;
}
#main #content #person .un {
  background-color: #ddd;
}
#main #content #person .i {
  background-color: #f0caa7;
}
#main #content #person .p {
  background-color: #a7c7f0;
}
#main #content #person .b {
  background-color: #adf0a7;
}
#main #content #person .active_i {
  background-color: #f58216;
}
#main #content #person .active_p {
  background-color: #4093ff;
}
#main #content #Btn {
  position: relative;
  padding-bottom: 30px;
}
#main #content #Btn #iInput {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  left: 170px;
}
#main #content #Btn #pBtn {
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #a7c7f0;
  border: 1px solid #000;
  margin-left: 20px;
  cursor: pointer;
}
#main #content #Btn #iBtn {
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f0caa7;
  border: 1px solid #000;
  margin-left: 40px;
  cursor: pointer;
}
#main #content #Btn #resetBtn {
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #ff8a8a;
  border: 1px solid #000;
  margin-left: 40px;
  cursor: pointer;
}
#main #content #Btn #saveBtn {
  float: left;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #adf0a7;
  border: 1px solid #000;
  margin-left: 40px;
  cursor: pointer;
}
#main #content #Btn #refreshBtn {
  float: left;
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f0efa7;
  border: 1px solid #000;
  margin-left: 40px;
  cursor: pointer;
}
#main #history {
  margin-left: 1000px;
  margin-right: 20px;
}
#main #history dl dt {
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #adf0a7;
}
#main #history dl dd {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  border-bottom: 1px dashed #414141;
}
#main #history dl dd.pdd {
  background-color: #a7c7f0;
}
#main #history dl dd.idd {
  background-color: #f0caa7;
}
.jump {
  animation: jump 1.2s ease-in-out infinite;
}
@keyframes jump {
  0% {
    transform: translateY(0px) scale(1);
  }
  30% {
    transform: translateY(0px) scale(1);
  }
  60% {
    transform: translateY(-11px) scale(1.1);
  }
  68% {
    transform: translateY(0px) scale(1);
  }
  76% {
    transform: translateY(-8px) scale(1.08);
  }
  85% {
    transform: translateY(0px) scale(1);
  }
  89% {
    transform: translateY(-4px) scale(1.06);
  }
  93% {
    transform: translateY(0px) scale(1);
  }
  95% {
    transform: translateY(-2px) scale(1.04);
  }
  97% {
    transform: translateY(0px) scale(1);
  }
  98% {
    transform: translateY(-1px) scale(1.02);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}
#initDataP {
  font-size: 30px;
  text-align: center;
}
